.SearchPage {
  flex: 0.8;
}

.SearchPage__filter {
  display: flex;
  align-items: center;
  font-size: xx-small !important;
  color: gray;
}

.SearchPage__filter > h2 {
  margin-left: 10px;
}
.SearchPage > hr {
  height: 1px;
  border: 0;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
